<ion-header>
  <ion-toolbar>
    <ion-title>
      Listado de Riegos para la ElectroVálvula {{ evId }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-list lines="full">
    <ion-item>
    <!-- esto es el encabezado -->
      <ion-grid>
        <ion-row>
          <ion-col size="3"><h2 class="encabezado">Fecha</h2></ion-col>
          <ion-col size="3"><h2 class="encabezado">Apertura</h2></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <!-- esto es los datos de cada medición -->
    <ion-item *ngFor="let riego of riegos">
      <ion-grid>
        <ion-row>
          <ion-col size="3"><h2>{{ riego.fecha | FormatoFecha }}</h2></ion-col>
          <!-- Uso de PIPE -->
          <ion-col size="3"><h2>{{ riego.apertura }}</h2></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

</ion-content>